{% extends 'base.html' %}

{% block title %}
    Profilo di amministrazione
{% endblock %}

{% block header %}
    <h1>Profilo di amministrazione </h1>
{% endblock %}

{% block content %}
<h2 class="title-h2">Gestione Utenti</h2>
<div class="device-table">
    <table>
        <thead>
            <tr>
                <th>Username</th>
                <th>Ruolo</th>
                <th>Stato</th>
                <th>Azioni</th>
            </tr>
        </thead>
        <tbody>
            {% for user in users %}
                <tr>
                    <td>{{ user.username }}</td>
                    <td>{{ 'Admin' if user.is_admin else 'Utente' }}</td>
                    <td>{{ 'Attivo' if user.is_active else 'Disattivato' }}</td>
                    <td>
                        {% if not user.is_admin %}
                        <div class="table-button-container">
                            {% if user.is_active %}
                                <form action="{{ url_for('auth.deactivate') }}" method="post" style="display:inline;">
                                    <input type="hidden" name="user_id" value="{{ user.id }}">
                                    <button class="red-btn" type="submit">Disattiva</button>
                                </form>
                            {% else %}
                                <form action="{{ url_for('auth.activate') }}" method="post" style="display:inline;">
                                    <input type="hidden" name="user_id" value="{{ user.id }}">
                                    <button class="green-btn" type="submit">Attiva</button>
                                </form>
                            {% endif %}
                        {% else %}
                            <span>/</span>
                        {% endif %}
                        </div>
                    </td>
                </tr>
            {% endfor %}
    </table>
</div>
{% endblock %}