# Ambiente virtuale
venv/
*.pyc
__pycache__/

# File di configurazione e credenziali
instance/
.env
*.env

# File temporanei e di sistema
logs/
*.log
*.sqlite3
*.sqlite
*.db
*.pid
.DS_Store
Thumbs.db
*.swp
*.swo

# Cache Python
*.pyc
__pycache__/
*.pyo

# Flask specifico
*.pytest_cache/
.cache/

# Editor/IDE
.vscode/
.idea/
*.iml
*.sublime-workspace
*.sublime-project
.cspell/

# Sistema operativo
*.bak
*.tmp
*.~lock.*

# File json nella cartella data
data/*.json

# Hypothesis
.hypothesis/