{% extends "base.html" %}

{% block title %}403 - Accesso Negato{% endblock %}

{% block styles %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/error.css') }}">
{% endblock %}

{% block header %}
    <h1>403 - Accesso Negato</h1>
{% endblock %}

{% block content %}
    <div class="error-container-handler">
        <div class="error-div-handler">403 - Accesso Negato
        <span class="error-emoji">🚫</span></div>
        <div class="error-message">Non hai i permessi necessari per accedere a questa pagina.</div>
    </div>
{% endblock %}