/* Reset e stili base */
body {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    margin: 0;
} 

main {
    flex: 1;
}

.base-nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #2c3e50; /* Colore di sfondo scuro */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* Allineamento orizzontale */
.base-nav li {
    float: left;
}

/* Stile dei link */
.base-nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

/* Cambia colore al hover */
.base-nav li a:hover {
    background-color: #34495e;
}

/* Stile per la scheda corrente */
.base-nav li a.current {
    background-color: #3498db;
    font-weight: bold;
}

/* Stile per l'header */
.base-header {
    background-color: #3498db;
    color: white;
    padding: 20px;
    text-align: center;
    margin-bottom: 0;
}

.base-header h1 {
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* Clearfix per il float */
.base-nav::after {
    content: "";
    display: table;
    clear: both;
}

/* Stile per il footer */
footer {
    text-align: center;
    padding: 1rem 0;
    color: #7f8c8d;
    font-size: 0.85rem;
    border-top: 1px solid #eee;
    margin-top: 2rem;
}

/* Bottoni */
.button {
    background-color: #3498db;
    color: white;
    padding: 10px 20px;
    border: 1px solid #000000;
    border-radius: 5px;
    cursor: pointer;

    text-decoration: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.button:hover {
    background-color: #3498db;
    transform: translateY(-1px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.button:active {
    background-color: #2980b9;
    transform: translateY(2px);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}
.button:disabled {
    background-color: #bdc3c7;
    cursor: not-allowed;
}

/* Stile per il logo nella home page */
.centered-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 10vh;
}

/* Animazione del logo */
.presepy-logo {
    width: 60vh;
    animation: logoAnimation 1s ease-in-out;
}
@keyframes logoAnimation {
    0% { transform: scale(0.50); }
    100% { transform: scale(1); }
}

/* Stili per i messaggi flash */
.flashes {
    margin: 10px 0;
    padding: 10px;
}

.flash-message {
    background-color: #3498db;
    color: white;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.flash-message button {
    background-color: transparent;
    border: none;
    color: white;
    font-size: 1.5rem;
    cursor: pointer;
    float: right;
}

.flash-message button:hover {
    color: #2980b9;
}

.flash-message button:focus {
    outline: none;
}