    .error-container-handler {
        font-family: 'Arial', sans-serif;
        background-color: #f8f9fa;
        color: #343a40;
        line-height: 1.6;
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 70vh;
        text-align: center;
    }

    .error-div-handler {
        font-size: 4rem;
        font-weight: bold;
        margin-bottom: 1rem;
        color: #dc3545;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
    }

    .error-emoji {
        font-size: 5rem;
        margin-bottom: 1rem;
    }
    .error-message {
        font-size: 1.2rem;
        color: #6c757d;
    }