{% extends 'base.html' %}

{% block title %}
    Dashboard di amministrazione
{% endblock %}

{% block header %}
    <h1>Dashboard di amministrazione </h1>
{% endblock %}

{% block content %}
<h2 class="title-h2">Gestione Utenti</h2>
<div class="device-table">
    <table>
        <thead>
            <tr>
                <th>Username</th>
                <th>Ruolo</th>
                <th>Stato</th>
                <th>Azioni</th>
            </tr>
        </thead>
        <tbody>
            {% for user in users %}
                <tr>
                    <td>{{ user.username }}</td>
                    <td>{{ user.role }}</td>
                    <td>{{ 'Attivo' if user.is_active else 'Disattivato' }}</td>
                    <td>                        
                        {% if user.role != 'admin' %}
                        <div class="table-button-container">
                            <form action="{{ url_for('admin.change_role') }}" method="post" style="display:inline;">
                                <input type="hidden" name="user_id" value="{{ user.id }}">
                                <select name="new_role" onchange="this.form.submit()">
                                    <option value="user" {% if user.role == 'user' %}selected{% endif %}>Utente</option>
                                    <option value="expert" {% if user.role == 'expert' %}selected{% endif %}>Esperto</option>
                                </select>
                            </form>
                            {% if user.is_active %}
                                <form action="{{ url_for('admin.deactivate') }}" method="post" style="display:inline;">
                                    <input type="hidden" name="user_id" value="{{ user.id }}">
                                    <button class="red-btn" type="submit">Disattiva</button>
                                </form>
                            {% else %}
                                <form action="{{ url_for('admin.activate') }}" method="post" style="display:inline;">
                                    <input type="hidden" name="user_id" value="{{ user.id }}">
                                    <button class="green-btn" type="submit">Attiva</button>
                                </form>
                            {% endif %}
                            <form action="{{ url_for('admin.delete_account') }}" method="post" style="display:inline;">
                                <input type="hidden" name="user_id" value="{{ user.id }}">
                                <button class="red-btn" type="submit">Elimina</button>
                            </form>
                        </div>
                        {% else %}
                            <span>/</span>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
    </table>
</div>
{% endblock %}