<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Titolo Predefinito{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='images/favicon.ico') }}" type="image/x-icon">
    {% block styles %} 
        {# Inserire eventuali stili specifici per la pagina #}
    {% endblock %}
</head>
<body>
    <header class="base-header">
        <h1>{% block header %}Intestazione Predefinita{% endblock %}</h1>
    </header>
    <nav class="base-nav">
        <ul>
            <li>
                <a href="{{ url_for('main.index') }}" {% if request.endpoint == 'main.index' %}class="current"{% endif %}>Home</a>
            </li>
            <li>
                <a href="{{ url_for('main.dmx_management') }}" {% if request.endpoint == 'main.dmx_management' %}class="current"{% endif %}>Gestione DMX</a>
            </li>
            <li>
                <a href="{{ url_for('main.audio_management') }}" {% if request.endpoint == 'main.audio_management' %}class="current"{% endif %}>Gestione Musica</a>
            </li>
            <li>
                <a href="{{ url_for('main.devices_management') }}" {% if request.endpoint == 'main.devices_management' %}class="current"{% endif %}>Gestione Dispositivi</a>
            </li>
            {% if current_user.is_authenticated %}
                <li>
                    <a href="{{ url_for('auth.profile') }}" {% if request.endpoint == 'auth.profile' %}class="current"{% endif %}>{{ current_user.username }}</a>
                </li>
                {% if current_user.is_admin %}
                    <li>
                        <a href="{{ url_for('auth.admin') }}" {% if request.endpoint == 'auth.admin' %}class="current"{% endif %}>Pannello Admin</a>
                    </li>
                {% endif %}
                <div class="onRight">
                <li>
                    <a href="{{ url_for('auth.logout') }}">Logout</a>
                </li>
                </div>
            {% else %}
                <div class="onRight">
                <li>
                    <a href="{{ url_for('auth.login') }}" {% if request.endpoint == 'auth.login' %}class="current"{% endif %}>Login</a>
                </li>
                <li>
                    <a href="{{ url_for('auth.register') }}" {% if request.endpoint == 'auth.register' %}class="current"{% endif %}>Registrati</a>
                </li>
                </div>
            {% endif %}
        </ul>
    </nav>

    <!-- Messaggi flash -->
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        <div class="flashes" id="flashes-container">
            {% for category, message in messages %}
                <div class="flash-message {% if category %}{{ category }}{% endif %}">
                    {{ message }}
                    <button onclick="getElementById('flashes-container').style.display='none';" aria-label="Close">&times;</button>
                </div>
            {% endfor %}
        </div>
    {% endif %}
    {% endwith %}


    <main class="base-main">
        {% block content %}
        {% endblock %}
    </main>
    <footer>
        {% block footer %}

            Copyright AM &copy; <span id="current_year"></span>
        
        {% endblock %}
    </footer>

    
    <script src="{{ url_for('static', filename='js/app.js') }}"></script>
    <script>
        document.addEventListener('DOMContentLoaded', (event) => {
            document.getElementById('current_year').textContent = new Date().getFullYear();
        });
    </script>
    {% block scripts %} 
        {# Inserire eventuali script specifici per la pagina #}
    {% endblock %}

</body>
</html>