<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Titolo Predefinito{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='images/favicon.ico') }}" type="image/x-icon">
    {% block styles %} 
        {# Inserire eventuali stili specifici per la pagina #}
    {% endblock %}
</head>
<body>
    <header>
        <h1>{% block header %}Intestazione Predefinita{% endblock %}</h1>
    </header>
    <nav>
        <ul>
            <li><a href="{{ url_for('main.index') }}">Home</a></li>
            <li><a href="{{ url_for('main.dmx_management') }}">Gestione DMX</a></li>
            <li><a href="{{ url_for('main.audio_management') }}">Gestione Musica</a></li>
            <li><a href="{{ url_for('main.light_management') }}">Gestione Luci</a></li>
            <li><a href="{{ url_for('main.test') }}">Pagina di test</a></li>
        </ul>
    </nav>


    <main>
        {% block content %}{% endblock %}
    </main>
    <footer>
        {% block footer %}

            Copyright AM &copy; <span id="current_year"></span>
        
        {% endblock %}
    </footer>

    
    <script src="{{ url_for('static', filename='js/app.js') }}"></script>
    <script>
        document.addEventListener('DOMContentLoaded', (event) => {
            document.getElementById('current_year').textContent = new Date().getFullYear();
        });
    </script>
    {% block scripts %} 
        {# Inserire eventuali script specifici per la pagina #}
    {% endblock %}

</body>
</html>