{% extends "base.html" %}

{% block title %}Gestione Dispositivi{% endblock %}

{% block styles %}
    <style>
        .on {
            background-color: #4CAF50 !important;
            color: white !important;
            font-weight: bold !important;
        }
        .off {
            background-color: #f44336 !important;
            color: white !important;
            font-weight: bold !important;
        }
    </style>
{% endblock %}

{% block header %}
    <h1>Gestione Dispositivi</h1>
{% endblock %}

{% block content %}
    {% if devices %}
    <div class="device-table">
        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Nome</th>
                    <th>Tipo</th>
                    <th>Sottotipo</th>
                    <th>Numero di canali DMX</th>
                    <th>Indirizzi DMX</th>
                    <th>Stato</th>
                    <th>Azioni</th>
                </tr>
            </thead>
            <tbody>
                {% for device in devices %}
                    <tr>
                        <td>{{ device.id }}</td>
                        <td>{{ device.name }}</td>
                        <td>{{ device.type }}</td>
                        <td>{{ device.subtype }}</td>
                        <td>{{ device.dmx_channels }}</td>
                        <td>
                            {% for channel in device.channels %}
                                {{ channel.number }}{% if not loop.last %}, {% endif %}
                            {% endfor %}
                        </td>
                        <td class="{{ device.status }}">{{ device.status }}</td>
                        <td>
                            <div class="table-button-container">
                            <button onclick="showHideChannels( '{{ device.id }}' )">Mostra<br>Dettagli</button>
                            <a href="{{ url_for('keyframes.keyframes_management', device_id=device.id) }}">
                                <button>Mostra<br>Keyframes</button>
                            </a>
                            <a href="{{ url_for('devices.turn_on_off_device', device_id=device.id) }}">
                                {% if device.status == 'on' %}
                                    <button class="red-btn">Spegni<br>Dispositivo</button>
                                {% else %}
                                    <button class="green-btn">Accendi<br>Dispositivo</button>
                                {% endif %}
                            </a>
                            </div>
                        </td>
                        
                    </tr>
                    <!-- Sotto tabella dei canali --> 
                    <tr id="channels-{{ device.id }}" 
                        style="visibility: hidden; display: none;">
                        <td></td>
                        <td> 
                            Canali {{ device.name }}
                        </td>
                        <td colspan="7">
                            <div class="channels-subtable">
                                <table>
                                    <thead>
                                        <tr>
                                            <th>Numero Canale</th>
                                            <th>Tipo Canale</th>
                                            <th>Valore Default</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for channel in device.channels %}
                                            <tr>
                                                <td>{{ channel.number }}</td>
                                                <td>{{ channel.type }}</td>
                                                <td>{{ channel.value }}</td>
                                            </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    {% else %}
    <h2>Nessun dispositivo trovato.</h2>
    {% endif %}
<div class="button-container">
    <a href="{{ url_for('devices.add_device_form') }}">
    <button>
        Aggiungi Dispositivo
    </button>
    </a>
</div>
{% endblock %}

{% block scripts %}
    <script>
        // Funzione per mostrare/nascondere la tabella dei canali
        function showHideChannels(deviceId) {
            var channelsRow = document.getElementById('channels-' + deviceId);
            var button = event.target;
            if (channelsRow.style.display === 'none' || channelsRow.style.visibility === 'hidden') {
                channelsRow.style.display = 'table-row';
                channelsRow.style.visibility = 'visible';
                button.innerText = 'Nascondi\nDettagli';
            } else {
                channelsRow.style.display = 'none';
                channelsRow.style.visibility = 'hidden';
                button.innerText = 'Mostra\nDettagli';
            }
        }
    </script>
{% endblock %}