{% extends "base.html" %}

{% block title %}Gestione DMX{% endblock %}

{% block header %}
    <h1>Pagina di gestione DMX</h1>
{% endblock %}

{% block content %}
    <p>Fase corrente: <span id="current_phase_box"> . . . </span></p>
    <div>
        <button onclick="initialize()">Inizializza</button>
        <button onclick="reset()">Reset</button>
        <button onclick="startLoop()">Avvia Loop</button>
        <button onclick="stopLoop()">Ferma Loop</button>
        <button onclick="stampa()">Stampa</button>
    </div>
{% endblock %}

{% block scripts %}
<script>
    // Inizializza il sistema DMX
    async function initialize() {
        await fetch('initialize_DMX', { method: 'POST' });
    }

    // Resetta il sistema DMX
    async function reset() {
        await fetch('reset_DMX', { method: 'POST' });
    }

    // Avvia il loop di aggiornamento DMX
    async function startLoop() {
        await fetch('start_DMX', { method: 'POST' });
    }

    // Ferma il loop di aggiornamento DMX
    async function stopLoop() {
        await fetch('stop_DMX', { method: 'POST' });
    }

    // Stampa il valore dei canali DMX sul file di log
    async function stampa() {
        await fetch('stampa_DMX', { method: 'POST' });
    }

    // Ottiene la fase corrente
    async function getCurrentPhase() {
        const response = await fetch('get_current_phase');
        const data = await response.json();
        document.getElementById('current_phase_box').textContent = data.current_phase;
    }
    
    // Aggiorna la fase corrente ogni 5 secondi
    setInterval(getCurrentPhase, 5000);

</script>
{% endblock %}