{% extends "base.html" %}

{% block title %}Gestione DMX{% endblock %}

{% block header %}
    <h1>Pagina di gestione DMX</h1>
{% endblock %}

{% block content %}
<div class="dmx-div">
    <div class="dmx-status-div">    
        <p>Stato: <span id="is_on"> . . . </span></p>
        <p>Fase corrente: <span id="current_phase_box"> . . . </span></p>
        <p>Messaggio: <span id="message_box"> . . . </span></p>
    </div>   
    <div>
        <div class="btn-div">
            <button class="button" onclick="startLoop()">Avvia Loop</button>
            <button class="button" onclick="stopLoop()">Ferma Loop</button>
        </div>    
        <div class="btn-div">
            <button class="button" onclick="pauseDMX()">Pausa</button>
            <button class="button" onclick="resumeDMX()">Riprendi</button>
        </div>
        <div class="btn-div">
            <button class="button" onclick="reset()">Reset</button>
            <button class="button" onclick="stampa()">Stampa</button>
        </div>
    </div>
</div>  
{% endblock %}

{% block scripts %}
<script>
    // Resetta il sistema DMX
    async function reset() {
        const response = await fetch('reset_DMX', { method: 'POST' });
        const data = await response.json();
        document.getElementById('message_box').textContent = data.message;
    }

    // Avvia il loop di aggiornamento DMX
    async function startLoop() {
        const response = await fetch('start_DMX', { method: 'POST' });
        const data = await response.json();
        document.getElementById('message_box').textContent = data.message;
    }

    // Ferma il loop di aggiornamento DMX
    async function stopLoop() {
        const response = await fetch('stop_DMX', { method: 'POST' });
        const data = await response.json();
        document.getElementById('message_box').textContent = data.message;
    }

    // Mette in pausa il loop di aggiornamento DMX
    async function pauseDMX() {
        const response = await fetch('pause_DMX', { method: 'POST' });
        const data = await response.json();
        document.getElementById('message_box').textContent = data.message;
    }

    // Riprende il loop di aggiornamento DMX
    async function resumeDMX() {
        const response = await fetch('resume_DMX', { method: 'POST' });
        const data = await response.json();
        document.getElementById('message_box').textContent = data.message;
    }

    // Stampa il valore dei canali DMX sul file di log
    async function stampa() {
        const response = await fetch('stampa_DMX', { method: 'POST' });
        const data = await response.json();
        document.getElementById('message_box').textContent = data.message;
    }

    // Ottiene la fase corrente
    async function getCurrentStatus() {
        const response = await fetch('get_current_status');
        const data = await response.json();
        document.getElementById('current_phase_box').textContent = data.current_phase;
        if (data.is_on) 
            document.getElementById('is_on').textContent = 'Acceso';
        else 
            document.getElementById('is_on').textContent = 'Spento';
    }
    
    // Aggiorna la fase corrente ogni 5 secondi
    setInterval(getCurrentStatus, 5000);
</script>
{% endblock %}