{% extends "base.html" %}

{% block title %}Keyframes Form{% endblock %}

{% block styles %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/form.css') }}">
{% endblock %}

{% block header %}
    <h1>Keyframes Form</h1>
{% endblock %}

{% block content %}
<div class="add-edit-form">
{% if keyframes %}
    <h2>Modifica Keyframe</h2>
    <h3>
        Dispositivo: {{ device.name }} <br>
        Posizione: {{ keyframes[0].position }} <br>
    </h3>

    <form method="POST" action="{{ url_for('keyframes.edit_keyframe') }}">
        {% for keyframe in keyframes %}
            <div class="slider-container">
                <label for="description-{{ keyframe.id }}">Descrizione:</label>
                <input type="text" id="description-{{ keyframe.id }}" name="description-{{ keyframe.id }}" value="{{ keyframe.description }}" placeholder="Descrizione del keyframe" required>
                <label for="slider-{{ keyframe.id }}">Canale: {{ keyframe.channel_id}}</label>
                <input type="range" id="slider-{{ keyframe.id }}" name="slider-{{ keyframe.id }}" min="0" max="255" value="{{ keyframe.value }}" step="1">
                <input type="hidden" id="resetSlider-{{ keyframe.id }}" name="resetSlider-{{ keyframe.id }}" value="{{ keyframe.value }}">
                <span id="showSliderValue-{{ keyframe.id }}">{{ keyframe.value }}</span>
            </div>
        {% endfor %}
        <input type="hidden" name="device_id" id="device_id" value="{{ device.id }}">
        <button type="submit">Salva</button>
        <button type="button" onclick=resetSliders()>Reset</button> 
        <button type="button" onclick=goBack()>Annulla</button>
    </form>
{% elif channels %}
    <h2>Aggiungi nuovo Keyframe</h2>
    <h3>
        Dispositivo: {{ device.name }} <br>
        Fase: {{ phase.name }} <br>
    </h3>
    <form method="POST" action="{{ url_for('keyframes.add_keyframe') }}">
        {% for channel in channels %}
            <div class="text-container">
                <label for="description-{{ channel.id }}">Descrizione:</label>
                <input type="text" id="description-{{ channel.id }}" name="description-{{ channel.id }}" value="" placeholder="Descrizione del keyframe" required> 
            </div>
            <div class="slider-container">
                <label for="slider-{{ channel.id }}">Valore canale {{ channel.number}}</label>
                <input type="range" id="slider-{{ channel.id }}" name="slider-{{ channel.id }}" min="0" max="255" value="0" step="1">
                <input type="hidden" id="resetSlider-{{ channel.id }}" name="resetSlider-{{ channel.id }}" value="0">
                <span id="showSliderValue-{{ channel.id }}">0</span>
            </div>
        {% endfor %}
            <div class="text-container">
                <label for="position">Posizione (0-100):</label>
                <input type="number" id="position" name="position" min="0" max="100" step="1" value="0">
            </div>
        <input type="hidden" name="device_id" id="device_id" value="{{ device.id }}">
        <input type="hidden" name="phase_id" id="phase_id" value="{{ phase.id }}">
        <button type="submit">Aggiungi Keyframe</button>
        <button type="button" onclick=resetSliders()>Reset</button>
        <button type="button" onclick=goBack()>Annulla</button>
    </form>
{% else %}
    <h2>Parametri non disponibili</h2>
    <p>Non sono stati trovati keyframes o canali per il dispositivo selezionato.</p>
{% endif %}
</div>
{% endblock %}

    {% if keyframes %}
        {% set sliderIDs = keyframes|map(attribute='id')|list %}
    {% elif channels %}
        {% set sliderIDs = channels|map(attribute='id')|list %}
    {% else %}
        {% set sliderIDs = [] %}
    {% endif %}

{% block scripts %}
    <script>
        // Funzione per aggiornare il valore del keyframe
        function updateSlidersValue(id) {
            const slider = document.getElementById(`slider-${id}`);
            const valueDisplay = document.getElementById(`showSliderValue-${id}`);
            valueDisplay.textContent = slider.value;
        }

        // Aggiungi un event listener a tutti gli slider
        {% for id in sliderIDs %}
            document.getElementById(`slider-{{ id }}`).addEventListener('input', function() {
                updateSlidersValue({{ id }});
            });
        {% endfor %}

        // Funzione per resettare gli slider
        function resetSliders() {
        {% for id in sliderIDs %}
            document.getElementById(`slider-{{ id }}`).value = document.getElementById(`resetSlider-{{ id }}`).value;
            updateSlidersValue({{ id }});
        {% endfor %}
        }

        // Funzione per tornare indietro
        function goBack() {
            window.location.href="{{ url_for('keyframes.keyframes_management', device_id=device.id) }}";
        }

    </script>
{% endblock %}