{% extends "base.html" %}

{% block title %}Test{% endblock %}

{% block header %}
    <h1>Pagina di Test</h1>
{% endblock %}

{% block content %}
    <button onclick="writeLog()">Scrivi nel log</button>
{% endblock %}

{% block scripts %}
<script>
    async function writeLog() {
        const response = await fetch('/write_log', {
            method: 'POST',
            headers: { 'Content-Type': 'application/json' },
            body: JSON.stringify({ message: 'Messaggio di test' })
        });
        if (response.ok) {
            console.log('Messaggio scritto nel log');
        } else {
            console.error('Errore nella scrittura del messaggio nel log');
        }
    }

</script>
{% endblock %}